@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


<div class="container my-5" >
    <div class="row justify-content-center">
        <div class="col-md-6 align-self-center">
            <div class="card">
                <h4 class="card-header  unique-color white-text text-center py-4">Sign in</h4>
                <div class="card-body px-lg-5 pt-0">
                    <form class="" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All" class="text-danger" style="margin-top:10px"></div>
                        <div class="md-form">
                            <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="md-form">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-outline-info btn-block btn-rounded my-4 mybtn-rounded">Log in</button>
                        <p class="container">Not a member?
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>