@using Microsoft.AspNetCore.Identity
@using _2Blogs.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link " style="margin:10px" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)! </a>
            </li>
            <li class="nav-item active">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class=" btn btn-info">Log out</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ">
            <a class="nav-link" style="margin:10px" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item ">
            <a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
