@model _2Blogs.Models.PostViewModels.PostDetailViewModel
@{
    ViewData["Title"] = "PostDetails";
}
<div class="container my-5">
   
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card-header unique-color text-center ">
                <h2>@Model.Title</h2>
            </div>
            <div class="card card-cascade wider reverse">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" height="400" src="~/images/ocean.jpg" alt="Card image cap">
                </div>
            </div>
            <div class="card card-body mt-3">
                <p style="white-space:pre-line">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="comments-list text-center text-md-left mb-5">
        <div class="text-center mb-4">
            <h3 class="font-weight-bold pt-3 mb-5">Comments <span class="badge pink">count comments</span></h3>
        </div>
        <!--First row-->
        <div class="row mb-4">
            <div class="col-sm-2 col-12 mb-md-0 mb-3">
                <img src="~/images/avatar.jpg" class="avatar myavatar-image-circle z-depth-1-half">
            </div>

            <div class="col-sm-10 col-12">
                    <h4 class="font-weight-bold">Name commenter</h4>
                <div class="mt-2">
                    <ul class="list-unstyled">
                        <li class="comment-date"><i class="fas fa-clock"></i> 05/10/2015</li>
                    </ul>
                </div>
                <p class=" grey-text">
                   comment's text
                </p>
            </div>

        </div>
        <!--/.First row-->
       
    </div>
</div>

