.mybtn-rounded{
    border-radius: 10px;
}

.mycard-height{
    height:530px;
}

.mypost-top-rounded{
    border-top-left-radius:50px;
    border-top-right-radius:50px;
}

.mypost-bacground-image {
    
    background: url(../images/ocean.jpg);
}

.myavatar-image-circle {
    height: 75%;
    border-radius: 90% !important;
    
}
.mybloc-aroundavatar{
    margin-left:20px;
}

/*Server=(localdb)\\mssqllocaldb;Database=aspnet-_2Blogs-A3121476-D562-4573-8607-ABA3F60DB6C7;Trusted_Connection=True;MultipleActiveResultSets=true*/